
body{
	background:#eee; margin:0;
	font-size:0.16rem; font-family:"微软雅黑";
}
ul,li,h1{
	padding:0; margin:0; list-style:none;
}
a{
	color:#000;
}
li{
	/*list-style:none; */
}
#top{
	position:relative;
	height:0.4rem; background-color:#129bf0;
	line-height:0.4rem; text-align:center;
}
#top span{
	display:inline-block;
	
}
#top .title{
	font-size:0.2rem;
}
#top .right{
	position:absolute; right:0; bottom:0rem;
}
#top .right span{
	width:20px; height:20px; margin:0 0.1rem -0.06rem 0; background:url("./msg.png") no-repeat;

}

#nav{
	padding:0.07rem; background:#fff;
	font-size:0;
}
#nav li{
	display:inline-block;
	width:16.66%;
	font-size:0.18rem; line-height:1.8; text-align:center;
}
/*滚动图*/
#banner{
	position:relative;
	height:1.9rem; width:100%; overflow:hidden;
}
#banner ul{
	width:200%;
	font-size:0;
}
#banner li{
	width:50%;
	display:inline-block;
}
#banner li i{
	display:inline-block;
	width:100%;height:1.9rem; overflow:hidden;
}
#banner li img{
	width:100%;
}
#banner li div{
	position:absolute; left:0; bottom:0rem;
	width:100%; padding:0.06rem 0; background:rgba(0,0,0,0.2);
	color:#fff; font-size:0.16rem;
}
#banner li span{
	display:inline-block;
	width:80%; overflow:hidden;
	text-indent:1em;
	white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;
}
/*频道*/
.pindao{overflow: hidden;
	padding:0 0.1rem 0.1rem 0.1rem; margin:0.1rem 0; background:#fff;
}
/*频道名称*/
.pindao h1{
	padding:0.1rem; margin-left:-0.1rem; margin-right:-0.1rem;
	border-left:2px solid #159cf1;
	border-bottom:1px solid #ededed;
	font-size:0.2rem; line-height:1; color:#159cf1;
}
/*频道新闻列表*/
.pindao li{
	border-bottom:1px solid #ededed;
	font-size:0.18rem; line-height:0.24rem;
	padding:0.1rem 0 0.1rem 0;
}
.pindao li span{
	display:inline-block;
	height:0.48rem; overflow:hidden;
}
/*无图*/
.pindao li.no_pic{
	padding:0.1rem 0.1rem 0.1rem 0.1rem;
}

/*带图片的列表*/
.pindao li.has_pic{
	position:relative;
	padding:0.14rem 0 0.18rem 1.2rem;	
}
.pindao li.has_pic i{
	position:absolute;left:0; top:0.06rem;
	width:1.16rem; height:0.7rem; overflow:hidden;
}
.pindao li img{
	width:100%;
}
/*三列图片*/
.pindao ul.col{
	margin-left:-0.11rem; padding:0;
}
.pindao ul.col li{
	display:inline-block; position:relative;
	width:1.6rem; padding:0 0.01rem;
}
.pindao ul.col i{
	display:block;
	width:1.6rem; height:1rem; overflow:hidden; vertical-align:bottom;
}
.pindao ul.col img{
	width:100%;
}
.pindao ul.col span{
	display:block;
	width:1.4rem; height:0.36rem; padding:0.02rem 0.1rem; background:rgba(0,0,0,0.6);
	position:absolute; left:0.01rem; bottom:0;
	overflow:hidden;
	color:#fff; font-size:0.14rem; line-height:0.18rem;
}

/*国内新闻*/
#pic_group{
	width:33.75rem;
	margin-left:-0.1rem;
	font-size:0;
}
#pic_group ul.float{
	display:inline-block;
	margin:0 0.1rem;
	width:3.55rem;
}
