body{
	position:relative;
	background:#eee; margin:0; padding-bottom:0.16rem;
	font-size:0.16rem; font-family:"微软雅黑";
}
ul,li,h1{
	padding:0; margin:0; list-style:none;
}
a{
	color:#000; text-decoration:none; -webkit-tap-highlight-color:rgba(255,255,255,0);
}
#top{
	position:relative;
	height:0.4rem; background-color:#277de2;
	line-height:0.4rem;border-bottom:1px solid #8ba7cc;
}
#top .title{
	font-size:0.16rem;
	color:#fff;
	font-weight:bold;
	text-indent:1em;
}
#top span{
	display:inline-block;
	font-size:0;
}
#me{
	position:absolute; right:0.15rem; top:0.1rem;
	width:0.2rem; height:0.2rem; padding:0; margin:0; overflow:hidden;
}
#me .me1{
	display:block;
	position:relative; left:0.04rem;
	width:0.08rem; height:0.08rem;
	border:0.02rem solid #fff;
	border-radius:50%;
}
#me .me2{
	display:block;
	position:relative; left:0.01rem; top:-0.01rem;
	width:0.14rem; height:0.14rem; border:0.02rem solid #fff;
	border-radius:50%;
}
#more{
	width:0.2rem;
	height:0.04rem;
	background:#fff;
	background-clip:content-box;
	padding:0.04rem 0;
	border-top:0.04rem solid #fff;
	border-bottom:0.04rem solid #fff;
}

#nav{
	padding:0.07rem; background:#fff; border-bottom:1px solid #8ba7cc;
	font-size:0;
}
#nav li{
	display:inline-block;
	width:16.66%;
	font-size:0.18rem; line-height:1.8; text-align:center;
}
/*滚动图*/
#banner{
	position:relative;
	height:1.9rem; width:100%; overflow:hidden;
}
#banner ul{
	position:absolute;
	font-size:0;
	/*transition:0.3s;*/
}
#banner li{
	position:relative;
	vertical-align:top;
	display:inline-block;
	
}
#banner li i{
	display:inline-block;
	width:3.75rem;height:1.9rem; overflow:hidden;
}
#banner li img{
	width:100%;
}
#banner li div{
	position:absolute; left:0; bottom:0rem;
	width:100%; padding:0.06rem 0; background:rgba(0,0,0,0.2);
	color:#fff; font-size:0.16rem;
}
#banner li span{
	display:inline-block;
	width:80%; overflow:hidden;
	text-indent:1em;
	white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;
}
#banner #index1{
	position:absolute; right:0.1rem; bottom:0.06rem; color:#fff; font-weight:normal;
}
#banner #index1 b{
	font-size:0.2rem; font-weight:normal;
}
/*频道*/
.pindao{overflow: hidden;
	padding:0 0.1rem; margin:0.1rem 0; background:#fff;
}
/*频道名称*/
.pindao h1{
	padding:0.1rem; margin-left:-0.1rem; margin-right:-0.1rem;
	border-left:2px solid #159cf1;
	border-bottom:1px solid #ededed;
	font-size:0.2rem; line-height:1; color:#159cf1;
}
/*进入频道*/
.enter{
	padding:0.1rem 0 0.16rem 0;
	text-align:center; line-height:1; font-size:0.18rem; color:#129bf0;
}
.pindao div.enter a{color:#129bf0}
/*频道新闻列表*/
.pindao li{
	border-bottom:1px solid #ededed;
	font-size:0.18rem; line-height:0.24rem;
	padding:0.1rem 0 0.1rem 0;
}
.pindao li span{
	display:inline-block;
	height:0.48rem; overflow:hidden;
}
/*无图*/
.pindao li.no_pic{
	position:relative;
	padding:0.1rem 0.6rem 0.1rem 0.1rem;
}
.pindao .no_pic_icon{
	display:inline-block;
	height:0.13rem; padding:0.02rem; border:2px solid #f84c4b;
	font-size:0.13rem; line-height:1; color:#f84c4b;
	position:absolute; right:0.1rem; top:0.2rem;
} 

/*带图片的列表*/
.pindao li.has_pic{
	position:relative;
	padding:0.14rem 0 0.18rem 1.2rem;	
}
.pindao li.has_pic i{
	position:absolute;left:0; top:0.06rem;
	width:1.16rem; height:0.7rem; overflow:hidden;
}
.pindao li img{
	width:100%; min-height:100%;
}

/*国内新闻*横向滚动组-每组3张图片*/
#china{
	padding:0 0.1rem 0 0.1rem;
}
#china_wrap{
	position:relative;
	height:2.5rem; width:3.75rem;
	margin-left:-0.1rem;
}
#pic_group{
	/*position:absolute;*/
	
	font-size:0;
}
#pic_group ul{
	display:inline-block;
	vertical-align:bottom;
	padding:0 0.1rem;
	width:3.55rem;
}
#china h1{
	position:relative;
}
#china #page1{
	position:absolute; right:0.1rem; bottom:0.1rem;
	font-size:0.16rem; font-weight:normal;
}
#china #page1 b{
	font-size:0.2rem;  font-weight:normal;
}

/*国际新闻列表*上图下无图布局*/
/*有图ul下的布局*/
#cols_wrap{
	position:relative;
	height:1.12rem; width:3.75rem; margin-left:-0.11rem;
}
.pindao ul.col{/*左移到边*/
	/*position:absolute;*/
	padding:0.06rem 0; font-size:0;
}
.pindao ul.col li{/*总宽1.62rem*/
	display:inline-block;
	vertical-align:middle;
	position:relative;
	width:1.6rem; padding:0 0.01rem;
}
.pindao ul.col i{/*图片容器宽1.6rem占满li内容*/
	display:block;
	width:1.6rem; height:1rem; overflow:hidden; vertical-align:bottom;
}
.pindao ul.col img{
	width:100%;
}
.pindao ul.col span{/*文字宽1.4左右各0.1总1.6占满li内容*/
	display:block;
	width:1.4rem; height:0.36rem; padding:0.02rem 0.1rem; background:rgba(0,0,0,0.6);
	position:absolute; left:0.01rem; bottom:0;/*右移lipadding的距离*/
	overflow:hidden;
	color:#fff; font-size:0.14rem; line-height:0.18rem;
}
#bottom_tip{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font: 0.16rem/0.2rem "宋体";
	text-align: center;
	display:none;
	
	/*z-index:-1;*/
}